header {
  position: absolute;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 120px;

  img {
    height: 60px;
    object-fit: cover;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #ebe8e8;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 32px;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
    &.active {
      color: red;
    }
  }
}

.dark-links {
  a {
    color: black;

    &:hover {
      color: rgb(78, 77, 77);
    }
  }
}

.header-dark {
  background-color: white;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
